@model IEnumerable<Arrival>
@{ Layout = "_Layout"; ViewBag.Title = "Arrivals";}

<h2>Arrival Flights</h2>
<a asp-action="AddArrivalReservation" class="btn btn-sm btn-primary">Add Arrival Reservation</a>
<a asp-action="GetArrivalReservation" class="btn btn-sm btn-secondary">Get Arrival Reservation</a>
<a asp-action="DeleteArrivalReservation" class="btn btn-sm btn-secondary">Delete Arrival Reservation</a>


<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Route Number</th>
            <th>Airport</th>
            <th>Scheduled Arrival Date</th>
            <th>Scheduled Arrival Time</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.RouteNum</td>
                <td>@r.AirportCode</td>
                <td>@r.Date</td>
                <td>@r.ScheduleArrTime</td>
            </tr>
        }
    </tbody>
</table>