
@{ Layout = "_Layout"; ViewBag.Title = "User Login";}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
</head>


<body>
    @using (Html.BeginForm("CustomerHome", "Home", FormMethod.Post))
    {
        <div>
            <h1>Login</h1>

            <div>
                @Html.Label("Email")
                @Html.TextBox("inputEmail")
            </div>
            <div>
                @Html.Label("Password")
                @Html.TextBox("inputPass")
            </div>

            <button>Login</button>
        </div>
    }
</body>


